.main-video video {
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}
.main-video__txt {
  position: absolute;
  top: 30%;
  left: 180px;
}
.main-video__txt h2 {
  font-size: 85px;
  font-weight: 900;
  margin-bottom: 20px;
}
.main-video__txt p {
  font-size: 20px;
}