.container {
  width: 1400px;
  margin: 0 auto;
}

strong {
  font-weight: 700;
}

h2 {
  font-size: var(--h2);
  line-height: 1.25;
  margin-bottom: 30px;
}

.visual__video {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.visual__txt {
  position: absolute;
  color: #fff;
  bottom: 200px;
  left: 50px;
  font-size: 20px;
}

.visual__txt h3 {
  font-size: 64px;
  font-weight: 900;
  margin-bottom: 50px;
  text-shadow: 5px 5px 5px rgba(255, 255, 255, 0.25);
}

.visual__txt p {
  margin-bottom: 30px;
}

.section {
  padding: 100px 0;
}

.gray {
  background-color: var(--gray);
}

.section .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about .about__txt p {
  font-size: 18px;
  margin-bottom: 50px;
}

.btn {
  display: inline-flex; /* flex를 적용하지만 글자처럼 취급한다. inline-block */
  align-items: center;
  font-size: 18px;
  padding: 20px;
  border: 1px solid var(--blue);
  color: var(--blue);
  border-radius: 5px;
  transition: all 0.25s ease;
}

.btn--white {
  border-color: #fff;
  color: #fff;
}

.btn.btn:not(.btn--fixed):hover {
  background-color: var(--blue);
  color: #fff;
}

.btn--round {
  border-radius: 100px;
}

.btn span {
  transition: transform 0.25s ease;
}

.btn:not(.btn--fixed):hover span {
  transform: translate(10px);
}

.about .about__img {
  width: 50%;
}

.about .about__img img {
  width: 100%;
}

.products .container {
  flex-direction: column;
}

.products .products-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.products .products-title p {
  font-size: 20px;
}

.products .products-banner {
  display: flex;
  justify-content: space-between;
}

.products .products-banner .products-banner__title {
  position: absolute;
  color: #fff;
  top: 30px;
  left: 30px;
  font-size: 20px;
}

.products .products-banner .products-banner__title h3 {
  font-size: var(--h2);
  font-weight: 700;
  margin-bottom: 10px;
}

.products .products-banner a {
  width: 50%;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  width: calc(50% - 18px);
}

.products .products-banner a .btn {
  position: absolute;
  right: 30px;
  bottom: 30px;
  background-color: rgba(255, 255, 255, 0.3);
  color: #fff;
  font-size: 64px;
  border: none;
  transition: all 0.25s ease;
}

/* element의 쌓이는 순서
1. 위에서 아래로 아래에 있을 수록 위로 올라간다.
2. 만약 position 속성이 있으면 태그의 순서와 상관없이 위로 올라간다. 
3. 쌓이는 순서는 z-index로 바꿀 수 있다. */
/* pseudo element */
.products .products-banner a:before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  transition: background-color 0.25s ease;
}

.products .products-banner a:hover:before {
  background-color: rgba(0, 0, 0, 0.5);
}

.products .products-banner a:hover .btn {
  background-color: rgba(255, 255, 255, 0.6);
  transform: rotate(90deg);
}

.products .products-banner a img {
  width: 100%;
  height: 480px;
  object-fit: cover;
}

.banner {
  background: rgb(17, 67, 131);
  background: linear-gradient(
    280deg,
    rgba(17, 67, 131, 1) 0%,
    rgba(61, 111, 248, 1) 55%
  );
}

.banner h2 {
  font-size: 28px;
  margin-bottom: 0;
  color: #fff;
}

.tech .container {
  flex-direction: column;
}

.tech .container .tech-title {
  margin-bottom: 15px;
  width: 100%;
}

.tech .container .tech-title h3 {
  display: flex;
  justify-content: flex-start;
}

.tech .container .tech-row {
  display: flex;
  gap: 20px;
}

.tech .container .tech-row .tech-item {
  width: 33.33%;
}

.tech .container .tech-item > p {
  font-size: 23px;
  margin-bottom: 40px;
}

.tech .container .tech-banner a {
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  display: block;
}

.tech .container .tech-banner a .tech-banner__title {
  position: absolute;
  color: #fff;
  top: 30px;
  left: 30px;
  right: 30px;
}

.tech .container .tech-banner a .tech-banner__title h3 {
  font-size: var(--h3);
  margin-bottom: 30px;
}

.tech .tech-banner a .btn {
  position: absolute;
  right: 30px;
  bottom: 30px;
  color: #fff;
  font-size: 64px;

  background-color: rgba(255, 255, 255, 0.3);
  border: none;
  transition: all 0.25s ease;
}

.tech .tech-banner a:before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  transition: background-color 0.25s ease;
}

.tech .tech-banner a:hover:before {
  background-color: rgba(0, 0, 0, 0.5);
}

.tech .tech-banner a:hover .btn {
  background-color: rgba(255, 255, 255, 0.6);
  transform: rotate(90deg);
}

.tech .container .tech-banner img {
  width: 100%;
  object-fit: cover;
}

.partner .container {
  display: flex;
  flex-direction: column;
}

.investors {
  background-image: url(../images/main/main-investors.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
}

.investors .container {
  flex-direction: column;
  align-items: flex-start;
  color: #fff;
}

.investors .inverstors__list {
  background-color: #fff;
  padding: 50px;
  border-radius: 10px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.investors .inverstors__list li {
  width: 25%;
  filter: grayscale(1);
  transition: filter 0.5s ease;
}

.investors .inverstors__list li:hover {
  filter: grayscale(0);
}

.news {
  overflow: hidden;
}

.news .container {
  flex-direction: column;
  align-items: start;
}

.news .news-title {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 80px;
}

.news .news-banner {
  position: relative;
  width: 100%;
}

.news .news-banner .btn {
  position: absolute;
  top: 50%;
  transform: translateY(-70px);
  border: none;
  background-color: rgba(255, 255, 255, 0);
  color: rgba(1, 1, 1, 0);
  transition: all 0.5s ease;
}

.news .news-banner:hover .btn {
  background-color: rgba(255, 255, 255, 1);
  color: rgba(1, 1, 1, 1);
  box-shadow: 3px 3px 3px rgba(1, 1, 1, 0.3);
}

.news .news-banner .btn--prev {
  left: -50px;
  z-index: 2;
}

.news .news-banner .btn--next {
  right: -50px;
  z-index: 2;
}

.news .news__img {
  position: relative;
  border-radius: 15px;
  overflow: hidden;
}

.news .news__img img {
  width: 100%;
}

.news .news__img .sticker {
  position: absolute;
  left: 20px;
  top: 20px;
  color: #fff;
  background-color: var(--red);
  padding: 10px;
  /* position을 주면 inline도 상하padding 가능 */
}

.news .news__txt h3 {
  font-size: 24px;
  font-weight: 700;
  margin: 20px 0;
}

.footer {
  background-color: rgb(27, 36, 75);
  padding: 80px 0;
  color: #fff;
}

.footer .footer-logo {
  width: 200px;
}

.footer .footer-items {
  display: flex;
}

.footer .footer-items .footer__item {
  flex-grow: 1; /* 여백 비율 */
}

.footer .footer-items .footer__item:nth-child(2) {
  flex-grow: 2;
}

.footer .footer-items .footer__item h2 {
  font-size: 20px;
}

.footer .footer-items .footer__item dl {
  display: flex;
  margin-bottom: 20px;
}

.footer .footer-items .footer__item dt {
  width: 70px;
}

.footer .footer-copyright {
  margin-top: 30px;
}
