.main-visual {
  overflow: hidden;
}
.main-visual ul li {
  height: 100vh;
  background-size: cover;
  background-position: 50%;
}
.main-visual ul li:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.25);
}
.main-visual__list {
  width: 100%;
  height: 100vh;
}
.main-visual--visual01 {
  background-image: url("../images/main/img_visual01.png");
}
.main-visual--visual02 {
  background-image: url("../images/main/img_visual02.jpg");
}
.main-visual--visual03 {
  background-image: url("../images/main/img_visual03.jpg");
}
.main-visual__txt {
  position: absolute;
  top: 34%;
  left: 265px;
  color: #fff;
  z-index: 2;
}
.main-visual__txt .word {
  overflow: hidden;
}
.main-visual__txt--main {
  font-weight: 900;
  font-size: clamp(36px, 5vw, 64px);
  line-height: 1.1;
}
.main-visual__txt--sub {
  margin-top: 18px;
  font-size: 21px;
}
.main-visual__txt:before {
  display: block;
  content: "";
  background-color: rgb(255, 25, 25);
  width: 53px;
  height: 4px;
  position: absolute;
  top: -50px;
}
.main-visual .pagination {
  display: flex;
  position: absolute;
  width: 100%;
  z-index: 3;
  bottom: 30px;
  justify-content: center;
}
.main-visual .pagination .swiper-pagination-bullet {
  opacity: 1;
  width: 12px;
  height: 12px;
  background-color: #fff;
}
.main-visual .pagination .swiper-pagination-bullet-active {
  background-color: rgb(255, 25, 25);
}
.main-visual button {
  position: absolute;
  display: flex;
}

.business .title-box {
  text-align: center;
  margin-top: 80px;
}
.business .title-box h3 {
  font-weight: 700;
  position: relative;
  padding: 20px 0;
}
.business .title-box h3:after {
  display: block;
  content: "";
  background-color: rgb(255, 25, 25);
  width: 53px;
  height: 4px;
  position: absolute;
  bottom: 0;
  left: 50%;
}
.business .title-box p {
  padding: 20px 0;
}